DATABASE_URL="postgresql://postgres:example@localhost:5432/postgres"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
HOST_NAME=http://localhost:3000
STORAGE_BUCKET_NAME=wdc-tanstack-starter-kit
NODE_ENV=development
AWS_ACCESS_KEY_ID=S3RVER
AWS_SECRET_ACCESS_KEY=S3RVER
